extends layout
include ./mixins/_flash-messages

block content
    .container
        .row.mt-5
            .col-md-3
            .col-md-6
                +flashMessages()
                .container.mt-5
                    .point-box.mb-3
                        h3 #{scanCount} scans
                    form.pt-4(method='POST', action='/verify-product')
                        .md-form
                            input#form1.form-control(type='number' name="codeNumber" required="")
                            label(for='form1') Product Code
                        button.btn.btn-block.btn-primary(type='submit') Verify
            .col-md-3
        