extends layout
include ./mixins/_flash-messages

block content
    // Modal
    .container
        .row
            .col-md-3
            .col-md-6
                .container
                    #myModal
                        .modal-dialog.modal-confirm
                            .modal-content
                                .modal-header-true
                                    .icon-box
                                        center
                                            i.font-circle.fas.fa-check
                                        h3.pt-3 You have been awarded #{point} points
                                .modal-body.text-center
                                    h4 Great!
                                    p.model-text
                                        | Hello #{user.firstName},
                                        br
                                        | 
                                        br
                                        | #{msg}
                                    a.btn.btn-success(href="/product-verify", data-dismiss='modal') Continue
                                        i.material-icons
            .col-md-3